/* PrismJS 1.29.0 https://prismjs.com/download.html#themes=prism-tomorrow */
code[class*="language-"],
pre[class*="language-"] {
  @apply text-slate-300;
  background: 0 0;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply bg-slate-950;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  @apply text-green-700;
}
.token.operator,
.token.punctuation {
  @apply text-slate-100;
}
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  @apply text-orange-700;
}
.token.boolean,
.token.function-name {
  @apply text-blue-400;
}
.token.function,
.token.number {
  @apply text-amber-200;
}
.token.number {
  @apply text-lime-200;
}
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  @apply text-blue-200;
}
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  @apply text-sky-500;
}
.token.attr-value,
.token.char,
.token.regex,
.token.variable {
  @apply text-emerald-600;
}
.token.regex {
  @apply text-pink-600;
}
.token.entity,
.token.url,
.token.string {
  @apply text-orange-400;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.inserted {
  @apply text-green-700;
}
